<app-body></app-body>
<div class="container productos">
  <div class="card-group">
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/pastel1.jpeg">
      <div class="card-body">
        <h5 class="card-title">Pastel de Vainilla</h5>
        <p class="card-text">Relleno de manjar de leche cubierto de crema de chantilly</p>
        <h2 class="precio text-center bg-secondary">$10.50</h2>
        <!-- <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button> -->
      </div>
    </div>
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/pastel2.jpg">
      <div class="card-body">
        <h5 class="card-title">Pastel de Chocolate</h5>
        <p class="card-text">Relleno de crema de chantilly y cubierta de alméndras.</p>
        <h2 class="precio text-center bg-secondary">$12.50</h2>
        <!-- <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button> -->
      </div>
    </div>
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/selva.JPG">
      <div class="card-body">
        <h5 class="card-title">Selva Negra</h5>
        <p class="card-text">Relleno de crema de chantilly con frutilla troceada.</p>
        <h2 class="precio text-center bg-secondary">$19.20</h2>
        <!-- <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button> -->
      </div>
    </div>
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/pastel3.jpg">
      <div class="card-body">
        <h5 class="card-title">Pastel de Vainilla</h5>
        <p class="card-text">Relleno de crema de chantilly con durazno y cubierta de frutas.</p>
        <h2 class="precio text-center bg-secondary">$11.20</h2>
        <!-- <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button> -->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
