<app-body></app-body>
<div class="container productos">
  <div class="card-group">
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/brazo2.jpg">
      <div class="card-body">
        <h5 class="card-title">Brazo Gitano</h5>
        <p class="card-text">Sabor a vainilla rrelleno de manjar de leche y cubienta de chocolate blanco.</p>
        <h2 class="precio text-center bg-secondary">$11.50</h2>
        <!-- <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button> -->
      </div>
    </div>
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/brazo1.jpg">
      <div class="card-body">
        <h5 class="card-title">Brazo Gitano</h5>
        <p class="card-text">Sabor a chocolate y rrelleno de crema de chantilly sabor a chocolate.</p>
        <h2 class="precio text-center bg-secondary">$11.50</h2>
        <!-- <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button> -->
      </div>
      </div>
      <div class="card col-3 border-warning mb-2">
        <p></p>
        <img class="mediana img-center" src="../../assets/img/brazo3.jpg">
        <div class="card-body">
          <h5 class="card-title">Brazo Gitano</h5>
          <p class="card-text">Sabor a chocolate y rrelleno de crema de chantilly sabor a chocolate.</p>
          <h2 class="precio text-center bg-secondary">$11.50</h2>
          <!-- <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button> -->
        </div>
      </div>
      <div class="card col-3 border-warning mb-2">
        <p></p>
        <img class="mediana img-center" src="../../assets/img/brazo4.jpg">
        <div class="card-body">
          <h5 class="card-title">Brazo Gitano</h5>
          <p class="card-text">Sabor a chocolate y rrelleno de crema de chantilly sabor a chocolate.</p>
          <h2 class="precio text-center bg-secondary">$11.50</h2>
          <!-- <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button> -->
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
