<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <!-- <ul>
        <li>
          <a mat-list-item (click)="abrirModal();">Añadir Producto</a>
        </li>
        <li>
          <a mat-list-item [routerLink]="['/pedidos']">Ver Pedidos</a>
          <a mat-list-item href="/pedidos">Ver Pedidos</a>
        </li>
      </ul> -->
      <a mat-list-item (click)="abrirModal();"><i class="material-icons">
          add_shopping_cart</i> Añadir Producto</a>
      <a mat-list-item routerLink="/pedidos"><i class="material-icons">
          list_alt</i>Ver Pedidos</a>
      <a mat-list-item routerLink="/inicio"><i class="material-icons">
          person</i>Cerrar Sesión</a>
      <a mat-list-item (click)="abrirModalAdmin();"><i class="material-icons">
        person_add</i>Registrar Aministrador</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container">
        <span>Web-Cake Shop-Administración</span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- <ng-content></ng-content> -->
    <!-- <app-pedidos></app-pedidos> -->
  </mat-sidenav-content>
</mat-sidenav-container>

